@use "variables" as var;
@use "mixins" as m;

.order-status {
  flex-direction: column;

  &__text {
    text-align: center;

    h1 {
      @include m.text-style-heading;
      font-size: var.$fs-lg;
      margin-top: var.$m-lg;
      @include m.breakpoint-up(large) {
        font-size: var.$fs-xl;
      }
    }
    h2 {
      @include m.text-style-subheading-sm;
      font-weight: 600;
      font-size: var.$fs-body-lg;
      @include m.breakpoint-up(large) {
        font-size: var.$fs-sm;
      }
    }
    p {
      @include m.text-style-body;
      font-size: var.$fs-body-sm;
      margin-bottom: var.$m-lg;
      font-weight: 400;
    }
  }

  &__cta {
    flex-direction: column;
    gap: var.$s-lg;
    button {
      max-width: 20rem;
      width: 100%;
    }
    a {
      text-decoration: underline;
      color: var.$color-primary-teal;
    }
  }
}

// confirmation animation

.order-status__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  display: block;
  height: 100%;
  width: 100%;
  color: var.$color-primary-teal;
  max-width: 4rem;
  @include m.breakpoint-up(large) {
    max-width: 6rem;
  }
}

.circle {
  stroke-dasharray: 76;
  stroke-dashoffset: 76;
  animation: draw 1s forwards;
}

.tick {
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  animation: draw 1s forwards 1s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
